<h2>LOGIN</h2>
<p>{{message}}</p>
<p>
  <button (click)="login()"
          *ngIf="!authService.isLoggedIn">Login</button>
  <button (click)="logout()"
          *ngIf="authService.isLoggedIn">Logout</button>
</p>
