<div *ngIf="crisis$| async as crisis">
    <h2>{{crisis.name | uppercase}} Details</h2>
    <div><span>id: </span>{{crisis.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="crisis.name"
                   placeholder="name" />
        </label>
    </div>
    <p>
        <button (click)="gotoCrises(crisis)">Back</button>
    </p>
</div>


<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
