<h2>crises</h2>
<ul class="crises">
    <li *ngFor="let crisis of crises$ | async as crises"
        [class.selected]="crisis.id === selectedId">
        <a [routerLink]='["/crisis",crisis.id]'>
    <span class="badge">{{crisis.id}}</span>
    {{crisis.name}}</a>
    </li>
</ul>
<router-outlet></router-outlet>
<button routerLink="/sidekicks">Go to sidekicks</button>

<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
