<h1>Angular Router</h1>
<nav>
  <a routerLink="/crisis-center"
     routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes"
     routerLinkActive="active">Heroes</a>
  <a routerLink="/admin"
     routerLinkActive="active">Admin</a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet">
  </router-outlet>
</div>
<router-outlet name="popup"
               #popOutlet='outlet'></router-outlet>
