<h2>HEROES</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes$ | async as heroes"
        [class.selected]="hero.id === selectedId">
        <a [routerLink]='["/hero",hero.id]'>
    <span class="badge">{{hero.id}}</span>
    {{hero.name}}</a>
    </li>
</ul>

<button routerLink="/sidekicks">Go to sidekicks</button>

<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
