<div *ngIf="hero$| async as hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="hero.name"
                   placeholder="name" />
        </label>
    </div>
    <p>
        <button (click)="gotoHeroes(hero)">Back</button>
    </p>
</div>


<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
